#Database
DATABASE_URL=postgresql://username:password@localhost:5432/mydb?schema=public

# JWT Configuration
JWT_SECRET="my-secret-very-hard"

# Clerk Configuration
CLERK_SECRET_KEY=sk_test_clerk_secret_key

# Application
PORT=3001